@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url(App.css);
@import url(AddTask.css);
@import url(TodoList.css);
@import url(NavBar.css);

* {
	color: #3d2930;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	margin: 0;
	padding: 0;
}