.navbar {
	background-color: #edc2e7;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.links {
	display: flex;
	justify-content: center;
	gap: 12rem;
	padding: 0.5rem 0;
}

.link {
	color: #2d3945;
	text-decoration: none;
	font-size: 1rem;
}

.link:hover {
	text-decoration: underline;
}