.task-list {
	list-style-type: none;
}

.task-item {
	align-items: center;
	border: 1px solid #b8cce0;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	margin-left: 4px;
	padding: 0.5rem;
}

.material-symbols-outlined {
	cursor: pointer;
}

.material-symbols-outlined.is-completed {
	color: #edc2e7;
}

.material-symbols-outlined.is-completed:hover {
	color: #eec8ea;
}

.timestamp {
	padding-left: 0.5rem;
	flex: 1;
	font-size: 0.75rem;
	color: #757575;
}

.task-author {
	flex: 1;
	font-size: 0.75rem;
	color: #757575;
}

.task {
	flex: 3;
}

.material-symbols-outlined.delete {
	color: #2d3945;
}

.material-symbols-outlined.delete:hover {
	color: #74aff2;
}